<p>
  <strong>Name:</strong>
  <%= product.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= product.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= product.price %>
</p>

<p>
  <strong>Provider:</strong>
  <%= product.provider %>
</p>